.footer--wrapper {
  padding: 0 4rem;
  display: grid;
  grid-column: 1 / span 4;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  min-height: 300px;
}

.footer__title h3 {
  font-size: 28px;
  color: var(--grey);
  text-align: left;
}

.footer__emoji {
  grid-column: 2 / 4;
  display: block;
  min-height: 215px;
  max-height: 200px;
  height: 100%;
  background-size: contain;
  align-self: flex-end;
}

.footer__emoji__mobile {
  display: none;
  background-size: 50%;
}

.footer__emoji, .footer__emoji__mobile {
  background: url("../../assets/images/_avatarFooter.svg") no-repeat center;
}

.footer__contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__contacts a {
  color: var(--grey);
  font-size: 20px;
  font-weight: 700;
}


@media screen and (max-width: 768px) { 
  .footer--wrapper {
    padding:  2rem 2rem 0 2rem;
    display: flex;
    flex-direction: column;
  }

  .footer__title {
    align-self: flex-start;
  }

  .footer__emoji {
    display: none;
  }

  .footer__emoji__mobile {
    display: block;
    background-size: 100%;
    margin-bottom: -7px;
  }

  .footer__contacts {
    margin: 2rem 0;
    gap: 10px;
    width: 100%;
  }
  .footer__contacts a {
    display: flex;
    font-size: 14px;
  }

  .footer__contacts a:first-child {
    text-align: left;
  }

}

@media screen and (max-width: 480px) {
  .footer__emoji__mobile {
    width: 153px;
    height: 150px;
    background-size: 100%;
    margin: 0;
  }
}