@import url("./__reset.css");
@import url("./typography.css");
@import url("./theme-palete.css");

:root {
  --mobileMenuHeight: 60px;
  --desktopMenuHeight: 92px;
  --marginDesktopLarge: 0 240px;
  --marginDesktopMedium: 0 120px;
  --paddingDesktopLarge: 0 240px;
  --paddingDesktopMedium: 0 120px;
  --marginMobile: 0 4rem;
  --paddingMobile: 0 4rem;
}

/*/ Flexbox Helpers /*/

body {
  background-color: var(--pink);
}

.flex {
  display: flex;
}
.flex--align-center {
  align-items: center;
}
.flex--justify-center {
  justify-content: center;
}

.flex--justify-between {
  justify-content: space-between;
}
