@import url("./__reset.css");
@import url("./typography.css");
@import url("./theme-palete.css");

:root {
  --mobileMenuHeight: 60px;
  --desktopMenuHeight: 92px;
  --marginDesktopLarge: 0 240px;
  --marginDesktopMedium: 0 120px;
  --paddingDesktopLarge: 0 240px;
  --paddingDesktopMedium: 0 120px;
  --marginMobile: 0 2rem;
  --paddingMobile: 0 2rem;
}

body {
  background-color: var(--pink);
}

.swiper-button-next, .swiper-button-prev {
  color:white !important;
  transform: scale(0.8);
}

/*/ Flexbox Helpers /*/

.flex {
  display: flex;
}
.flex--align-center {
  align-items: center;
}
.flex--justify-center {
  justify-content: center;
}

.flex--justify-between {
  justify-content: space-between;
}

/*/ Re-usable CSS /*/
