/*/ Navigation /*/

.logo {
  min-width: 13ch;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo__name {
  font-weight: 700;
  color: var(--grey);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
}
.nav--list {
  width: 100%;
  justify-content: flex-end;
  margin: 0;
}
.nav__link {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 0 35px;
  color: var(--grey);
  transition: all 0.5s linear;
}
.nav__link:hover {
  transition: all 0.5s linear;
}
.nav__link:not(.nav__link__button):hover::before {
  position: absolute;
  left: 50%;
  bottom: -5px;
  height: 5px;
  width: 5px;
  transform: translateX(-50%);
  border-radius: 100%;
  content: "";
}

/*/ Navigation Mobile /*/

.nav--mobile {
  display: grid;
  align-items: flex-start;
  grid-template-rows: 60px 1fr auto;
  width: 100%;
  min-height: 60px;
  max-height: fit-content;
  background-color: var(--pink);
  border-bottom: 1px solid var(--grey);
  transition: max-height 0.5s linear;
}
.nav--mobile.open {
  max-height: fit-content;
}

.nav--mobile-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--paddingMobile);
}

.nav--mobile-toggle {
  display: none;
  border-radius: 5px;
  background-color: transparent;
  float: right;
  height: 38px;
  width: 38px;
  cursor: pointer;
  padding: 8px 8px;
}
.nav--mobile-toggle.open span:first-child {
  transform: rotate(45deg) translate(4.4px, 4.4px);
}
.nav--mobile-toggle.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
.nav--mobile-toggle.open span:last-child {
  transform: rotate(-45deg) translate(2.4px, -2.4px);
}
.nav--mobile-toggle span {
  position: relative;
  display: block;
  height: 1px;
  width: 100%;
  margin-top: 4px;
  background-color: var(--grey);
  transition: all 0.25s;
}

.nav--mobile .nav--list .nav__link {
  padding: 8px 15px;
  color: var(--grey);
}
.nav__link.contacts {
  font-weight: 700;
}
.nav--contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid var(--grey);
  height: 100%;
}
.nav--contacts a {
  font-weight: 700;
  color: var(--grey);
}

@media screen and (max-width: 480px) {
  .nav--mobile-wrapper {
    padding: var(--paddingMobile);
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .nav--mobile-toggle--wrapper {
    padding: 0 1rem;
    width: fit-content;
    height: 60px;
    display: flex;
    align-items: center;
    border-left: 1px solid var(--grey);
    border-right: 1px solid var(--grey);
  }
  .nav--mobile-toggle {
    display: block;
  }
  .nav--list {
    display: none;
    transition: all 1s linear;
  }
  .logo {
    grid-column: 1 / span 3;
    padding: 0 1rem;
    height: 60px;
    border-left: 1px solid var(--grey);
  }
  .nav--contacts {
    display: none;
    justify-content: flex-start;
    height: fit-content;
    padding: var(--paddingMobile);
    padding-bottom: 0.5rem;
    border: none;
  }
  .nav--contacts .nav--contacts__text {
    padding: 8px 15px;
  }
}

/*/ Tablets /*/

@media screen and (min-width: 481px) and (max-width: 768px) {
  .nav--mobile-wrapper {
    padding: var(--paddingDesktopMedium);
  }

  .nav--mobile-toggle--wrapper {
    padding: 0 1rem;
    width: fit-content;
    height: 60px;
    display: flex;
    align-items: center;
    border-left: 1px solid var(--grey);
    border-right: 1px solid var(--grey);
  }
  .nav--mobile-toggle {
    display: block;
  }
  .logo {
    padding: 0 2rem;
    height: 60px;
    border-left: 1px solid var(--grey);
  }
  .nav--list {
    display: none;
    transition: all 1s linear;
  }
}

@media screen and (min-width: 769px) {
  .nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100vw;
    height: 92px;
    border-bottom: 1px solid var(--grey);
  }
  .nav--mobile-wrapper {
    grid-column: 1 / span 3;
    padding: 0;
    min-width: fit-content;
  }
  .nav__link.contacts {
    display: none;
  }
}

@media screen and (min-width: 769px) and (max-width: 1440px) {
  .nav {
    padding: var(--paddingDesktopMedium);
  }
  .nav--mobile-wrapper {
    padding-left: 3rem;
  }
  .nav--list .nav__link {
    padding: 0 25px;
  }
}

@media screen and (min-width: 1441px) {
  .nav {
    padding: var(--paddingDesktopLarge);
  }
  .nav--mobile-wrapper {
    padding-left: 4rem;
  }
}
