.App {
  margin: var(--marginDesktopLarge);
  min-height: 100vh;
  border-right: 1px solid var(--grey);
  border-left: 1px solid var(--grey);
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 100%;
}

/*/ /*/

@media screen and (min-width: 1441px) {
  .App {
    margin: var(--marginDesktopLarge);
  }
}

@media screen and (max-width: 1440px) {
  .App {
    margin: var(--marginDesktopMedium);
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding-top: var(--mobileMenuHeight);
    min-height: calc(100vh - var(--mobileMenuHeight));
    grid-template-columns: none;
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 769px) {
  .container {
    padding-top: var(--desktopMenuHeight);
    min-height: calc(100vh - var(--desktopMenuHeight));
  }
}

@media only screen and (max-device-width: 480px) {
  .App {
    margin: var(--marginMobile);
  }
}
